$ff-primary: 'Spartan', sans-serif;
$fs-primary: 62.5%;

$clr: (
	'clr-primary-very-dark-magenta': #502050,
	'clr-primary-soft-pink': #ee68a4,
	'clr-neutral-dark-grayish-magenta': #937b92,
	'clr-neutral-light-grayish-magenta': #f7f2f7,
	'clr-neutral-white': #ffffff,
);
